
	*{
		box-sizing: border-box;
		margin: 0; padding: 0;
		
	}

	a{
		text-decoration: none;
		color: inherit;
	}

	header, #title{
		background-color: #d5dffd;
	}

	.centered, #title{
		/* width: 90%; */
		display: flex;
		flex-direction: row;
		justify-content: center;
		padding: 1rem 0 1rem 0;
		background-color: #d5dffd;
		
	}

	.inner_centered{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 95%;
		gap: 2rem;
	}

	section{
		/* width: 90%; */
		display: flex;
		flex-direction: column;
		
	}
	
	.to_do {
		background-color: #d5dffd;
	}
	
	/* FORM */
	nav, header{
		background-color: #d5dffd;
		display: flex;
		flex-direction: row;
		justify-content: center;
		/* height: 2rem; */
		padding-top: 2rem;
		
		
	}

	.inner_nav{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 95%;
	}
	#div_first, #div_second{
		display: flex;
		
	}

	#input{
		outline:none;
		border-radius: 10px 0 0 10px;
		border: none;
		padding: 10px;
	}

	#add{
		width: 2rem;
		font-size: 1rem;
		cursor: pointer;
		border: none;
		border-radius: 0 10px 10px 0;
		color: #fff;
		background-color: green;
	}

	#delete_all{
		color: #fff; background-color: red;
		border: none; border-radius: 10px;
		font-size: 1rem;
		padding: 0 10px 0 10px;
		
	}


	ul{
		display: grid;
		grid-template-columns: 4fr 4fr;
		gap: 1.5rem;
		padding-top: 1rem;
	}

	.li{
		border-radius: 12px;
		display: flex; 
		flex-direction: column;
		padding: 1rem;
		gap: 1rem;
		background-color: #fff;
		

	}

	li{
		list-style: none;

	}

	.inner_li{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}



	/* buttons*/

	.check{
		cursor: pointer;
		/* display: flex; */
		width: 5%;
		border: none;
		display: flex; justify-content: center;
		border-radius: 100% 50%;
		
	}
	
	.check:hover{
		color: rgb(255, 255, 255);
		background-color: green;
	}

	.check:hover  .delete_task:hover{
		color: red;
	}

	/* pending */
	.delete_task{
		cursor: pointer;
	}

	
	.done{
		cursor: pointer;
		text-decoration: line-through;
	}
	
	/* completed */
	.delete{
		cursor: pointer;

	}

	.delete:hover{
		color: red;
		text-decoration: line-through;
		
	}